@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Hentry is made for easy time management of project. Its main feature is project based and task driven working time logging. Ongoing projects can be visualized to get clear view of how much time has been taken and how much is left. And when project is closing ready reports can be printed out.</p>
