@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Hentry Project Team<br />
    Piippukatu 2<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@hentry.com">Support@hentry.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@hentry.com">Marketing@hentry.com</a>
</address>