@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hentry</h1>
    <p class="lead">The lightweight time and cost management software for decentralized agile development teams.</p>
    @if (!(User.Identity.IsAuthenticated))
    {
        @Html.ActionLink("Register now", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
    }
</div>
